.localSetting {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.loginContainer {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.loginContainer h2 {
    text-align: center;
}

.inputGroup {
    margin-bottom: 15px;
}

.labelGroup {
    display: block;
    margin-bottom: 5px;
}

.inputs {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.authenticate {
    width: 100%;
    padding: 10px;
    background: #3483eb;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}
.authenticate:hover {
    background: #2a6fc9;
}

.checkboxContainer {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    gap: 10px;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #28a745;
}

.errorMessage {
    color: #b34a15;
    margin-bottom: 10px;
}

