
.container {
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    margin-top: 30px;
    justify-content:space-around;
    @media (max-width: 650px) {
        justify-content: space-between;
    }

    @media (max-width: 550px) {
        flex-wrap: wrap;
    }
}

.image {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 650px) {
        margin-left: -23px;
        margin-top: 20px;
    }
}

.image:hover {
    cursor: pointer;
}

.containerTable {
    margin: 50px 5%;
    padding-left: 9%;
    padding-right: 9%;
}
