
.formContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    padding-left: 15px;
    align-items: flex-start;
}

.xValues, .yValues {
    display: flex;
    gap: 10px;
}

.xName {
    text-align: left;
    padding-bottom: 10px;
}

.xUnderName {
    font-size: 0.8rem;
    color: gray;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px;
}

.x, .y {
    margin-top: 8px;
}

.inputText {
    margin-left: 5px;
    height: 20px;
    width: 105px;
    font-size: 1rem;
    text-align: center;
    @media (max-width: 650px) {
        font-size: 0.7rem;
    }
}

.errorMessage {
    margin-left: -15px;
    padding-top: 5px;
    text-align: left;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(207, 90, 12);
}

.submitButton {
    width: 150px;
    height: 40px;
    background-color: rgba(10, 127, 245);
    font-size: 1rem;
    border-radius: 8px;
    @media (max-width: 650px) {
        font-size: 0.7rem;
    }
}

.submitButton:hover {
    background-color: rgba(0, 113, 227);
    cursor: pointer;
}